body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #1c1c1c;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  width: 320px;
}

#coin {
  width: 120px;
  margin: 20px 0;
  transition: transform 0.6s;
}

.flip {
  transform: rotateY(720deg);
}

#result {
  font-size: 24px;
  margin: 10px 0;
}

button {
  margin: 8px;
  padding: 10px;
  border: none;
  background: white;
  color: black;
  border-radius: 8px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #333;
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
}